* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo_container {
  background-color: #76dadb;
}

.todo_style {
  background-color: #348182;
  height: 60vh;
  width: 60vh;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: thick;
}

.todo_list {
  width: 80%;
}

.red {
  color: #f16969;
}

.red:hover {
  color: #f72d2d;
}

.green {
  color: rgb(106, 248, 106);
}

.green:hover {
  color: rgb(44, 247, 61);
}