* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo_container {
  background-color: #76dadb;
}

.todo_style {
  background-color: #348182;
  height: 60vh;
  width: 60vh;
}

.strikethrough {
  text-decoration: line-through;
}